<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MacoOnboarding\CustomShippingModule\Api\ShippingCostManagementInterface" type="MacoOnboarding\CustomShippingModule\Model\Rest\ShippingCostManagement"/>
    <preference for="MacoOnboarding\CustomShippingModule\Api\Data\ShippingCostInterface" type="MacoOnboarding\CustomShippingModule\Model\Rest\ShippingCost"/>
</config>
